<nav class="navbar navbar-dark bg-primary">
    <div class="container" style="padding: 8px;">
        <a class="navbar-brand" href="/">
            <h4>Home</h4>
        </a>
        <table>
            <tr >
                <th style="padding: 16px;">
                    <a class="navbar-brand" href="/adm/categories/new">
                        <div class="card">
                            <div class="card-header">
                                <h4>Add Categoty</h4>
                            </div>
                        </div>
                    </a>
                </th>
                <th style="padding: 16px;">
                    <div class="card">
                        <div class="card-header">
                            <h4>List Categoty</h4>
                        <a class="navbar-brand" href="/adm/categories"><button class="btn btn-success">Go</button></a>
                        </div>
                    </div>
                </th>
                <th style="padding: 16px;">
                    <div class="card">
                        <div class="card-header">
                            <h4>List Articles</h4>
                        <a class="navbar-brand" href="/adm/article"><button class="btn btn-success">Go</button></a>
                        </div>
                    </div>
                </th>
                <th style="padding: 16px;">
                    <div class="card">
                        <div class="card-header">
                            <h4>Add Article</h4>
                        <a class="navbar-brand" href="/adm/article/new"><button class="btn btn-success">Go</button></a>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</nav>