<nav class="navbar navbar-dark bg-primary">
    <div class="container" style="padding: 8px;">
        <a class="navbar-brand" href="/">Blog do seu zé</a>
        <a class="navbar-brand" href="/adm/categories/new">adm - New category</a>
    </div>
</nav>