<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container" style="padding: 8px;">
        <a class="navbar-brand" href="/">
            <h4>Home</h4>
        </a>
        <table>
            <tr >
                <th style="padding: 16px;">
                    <a class="navbar-brand" href="/adm/categories/new">
                        <div class="card">
                            <div class="card-header"><h5 style="color: darkgoldenrod;">Nova Categoria</h5></div>
                        </div>
                    </a>
                </th>
                <th style="padding: 16px;">
                    <a class="navbar-brand" href="/adm/categories">
                        <div class="card">
                            <div class="card-header"><h5 style="color: darkgoldenrod;">Categorias</h5></div>
                        </div>
                    </a>
                </th>
                <th style="padding: 16px;">
                    <a class="navbar-brand" href="/adm/article">
                        <div class="card">
                            <div class="card-header"><h5 style="color: darkgoldenrod;">Artigos</h5></div>
                        </div>
                    </a>
                </th>
                <th style="padding: 16px;">
                    <a class="navbar-brand" href="/adm/article/new">
                        <div class="card">
                            <div class="card-header"><h5 style="color: darkgoldenrod;">Novo Artigo</h5></div>
                        </div>
                    </a>
                </th>
            </tr>
        </table>
    </div>
</nav>