<%- include('partials/header.ejs') %>

<div class="container" style="padding-top: 32px;">
    <h1 style="padding: 16px;">Index Page</h1>
    <div style="background-color: #DFE7FF; padding: 16px;">
        <table>
            <th><h3>Main Menu</h3></th>
            <tr >
                <th style="padding: 16px;">
                    <div class="card">
                        <div class="card-header">
                            <h4>Add Categoty</h4>
                        </div>
                        <div class="card-body">
                            <a class="navbar-brand" href="/adm/categories/new"><button class="btn btn-success">Go</button></a>
                        </div>
                    </div>
                </th>
                <th style="padding: 16px;">
                    <div class="card">
                        <div class="card-header">
                            <h4>List Categoty</h4>
                        </div>
                        <div class="card-body">
                            <a class="navbar-brand" href="/adm/categories"><button class="btn btn-success">Go</button></a>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>
<%- include('partials/footer.ejs') %> 