<%- include('partials/header.ejs') %>
 
<div class="container" style="padding-top: 32px;">
    <h1 style="padding: 16px;">Index Page</h1>
    <div style="background-color: #DFE7FF; padding: 16px;">
        
    </div>
</div>
<%- include('partials/footer.ejs') %>