<%- include('../partials/header.ejs') %>
<%- include('../partials/admnavbar.ejs') %>
<div class="container" style="padding-top: 32px;">
    <h1>Bem vindo de volta</h1>
    <hr>
    <br>
    <table>
        <tr>
            <td style="padding: 16px;">
                <a class="navbar-brand" href="/adm/categories">
                    <div class="card">
                        <div class="card-header"><h5 style="color: darkgoldenrod;">Ver Categorias</h5></div>
                    </div>
                </a>
            </td>
            <td style="padding: 16px;">
                <a class="navbar-brand" href="/adm/article">
                    <div class="card">
                        <div class="card-header"><h5 style="color: darkgoldenrod;">Ver Artigos</h5></div>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>
<%- include('../partials/footer.ejs') %>